.jumbotron{
    background-image: url("./book-shelf-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px; 
    width: 100%;
    padding-top: 10; 
    text-align: center
}